<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 footer">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 text-center pt-5 pb-3">
        <div class="mb-2 flex-center">
          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/pages/category/Car-Wash/Clutch-Cleaning-Mobile-Detailing-and-More-1426946094015937/">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/clutchcleaning/?hl=en">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <span>© 2019 Copyright:</span>
    <a href="https://manifestagencytech.com"> Manifest Agency Technology</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
