<div class="container-fluid services-section">
  <div class="container">
    <div class="row">
      <div class="col-12 services-info">
        <div class="vl">
        </div>
        <div>
          <h1 class="services-title">PREMIERE VEHICLE DETALING</h1>
          <p class="services-headline">Clutch Cleaning is Atlanta's #1 mobile detailing business. We're able to detail any vehicle, including cars, boats, RVs, dumptrucks, and more. If you're interested in getting your vehicle detailed call us today at <span style="font-weight: 700">404-542-1440</span></p>
        </div>
      </div>
    </div>
    <div class="row services">
      <div class="col-md-4 service">
        <img class="service-icon" src="../../../assets/Images/location-icon.png">
        <div class="service-info">
          <h4>METRO ATLANTA</h4>
          <p>Serving all of Metro Atlanta, Clutch Cleaning comes to you </p>
        </div>
      </div>
      <div class="col-md-4 service">
        <img class="service-icon" src="../../../assets/Images/experience.png">
        <div class="service-info">
          <h4>20+ YEARS</h4>
          <p>With over 20 years of experience, every vehicle is handled with professional care</p>
        </div>
      </div>
      <div class="col-md-4 service">
        <img class="service-icon" src="../../../assets/Images/gear.png">
        <div class="service-info">
          <h4>NUMEROUS SERVICES</h4>
          <p>Need a wash, vacuum, or engine Restoration? No job is too difficult for our team</p>
        </div>
      </div>
    </div>
  </div>
</div>
