@font-face {
  //font-family: "Muli";
  font-family: 'Titillium Web', sans-serif;

}

span, th, body, h1, h2, h3, h4, h5, p, a, .btn, li {
  //font-family: Exo2, sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

body {
  font-size: 2rem !important;
}

.bg-dark {
  background-color: transparent !important;
}
