<div class="container-fluid gallery-section ">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="section-title text-center">GALLERY</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
      <img class="grid-img" src="../../../assets/Images/moreimages1.jpg">
    </div>
      <div class="col-md-4 text-center">
        <img class="grid-img" src="../../../assets/Images/moreimages2.jpg">
      </div>
      <div class="col-md-4 text-center">
        <img class="grid-img" src="../../../assets/Images/moreimages3.jpg">
      </div>
      <div class="col-md-4 text-center">
        <img class="grid-img" src="../../../assets/Images/moreimages4.jpg">
      </div>
      <div class="col-md-4 text-center">
        <img class="grid-img" src="../../../assets/Images/moreimages5.jpg">
      </div>
      <div class="col-md-4 text-center">
        <img class="grid-img" src="../../../assets/Images/moreimages6.jpg">
      </div>
      <div class="col-md-4 text-center">
        <img class="grid-img" src="../../../assets/Images/moreimages7.jpg">
      </div>
      <div class="col-md-4 text-center">
        <img class="grid-img" src="../../../assets/Images/moreimages8.jpg">
      </div>
      <div class="col-md-4 text-center">
        <img class="grid-img" src="../../../assets/Images/moreimages9.jpg">
      </div>
    </div>
  </div>
</div>
