<div class="container-fluid services-section">
    <div class="row">
      <div class="col-md-6 d-none d-sm-block">
        <div class="row">
          <div class="col-md-6 clutch-grid d-flex flex-column justify-content-center align-items-center">
            <h3>ALWAYS CLEAN</h3>
          </div>
          <div class="col-md-6 p-0 d-none d-sm-block">
            <img class="grid-img" src="../../../assets/Images/overlaychallenger.png">
          </div>
          <div class="col-md-6 p-0 d-none d-sm-block">
            <img class="grid-img" src="../../../assets/Images/overlaygwagon.png">
          </div>
          <div class="col-md-6 clutch-grid-2 d-flex justify-content-center align-items-center">
            <h3>EVERY DETAIL</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <img class="grid-img" src="../../../assets/Images/overlaydump.png">
      </div>
    </div>
</div>
