<div class="container-fluid pricing-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="section-title">PRICING</h1>
        <span class="blink_me d-block d-md-none
">SCROLL RIGHT <i class="fas fa-arrow-right"></i></span>
          <div class="table-responsive-lg">
            <table class="table">
              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  <div class="table-col">
                    <span class="service-title">BASIC WASH</span>
                    <span class="service-price">$40</span>
                  </div>
                </th>
                <th scope="col">
                  <div class="table-col">
                    <span class="service-title">WASH & WAX</span>
                    <span class="service-price">$60</span>
                  </div>
                </th>
                <th scope="col">
                  <div class="table-col">
                    <span class="service-title">WASH & INTERIOR</span>
                    <span class="service-price">$60</span>
                  </div>
                </th>
                <th scope="col">
                  <div class="table-col">
                    <span class="service-title">FULL DETAIL</span>
                    <span class="service-price">$130</span>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row" class="service">INTERIOR VACUUM</th>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <th scope="row" class="service">EXTERIOR SOAP, RINSE & DRY</th>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <th scope="row" class="service">TIRE & SHINE</th>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <th scope="row" class="service">DOOR PANELS & DASHBOARD CLEANING</th>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <th scope="row" class="service">DOOR PANELS & DASHBOARD CLEANING</th>
                <td></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <th scope="row" class="service">CEILING, SEATS, & CARPET SHAMPOO</th>
                <td></td>
                <td></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <th scope="row" class="service">STAIN REMOVAL</th>
                <td></td>
                <td></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <th scope="row" class="service">ENGINE WASH</th>
                <td></td>
                <td></td>
                <td></td>
                <td><i class="fas fa-check"></i></td>
              </tr>
              <tr>
                <th scope="row" class="service">ENGINE RESTORATION</th>
                <td></td>
                <td></td>
                <td></td>
                <td><i class="fas fa-check"></i></td>
              </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
